
<div class="card m-2">
  <h5 class="card-header">Article</h5>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"> <%= @article.text %></p>
    <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-secondary btn-lg" %>
  </div>
  <div class="card-footer text-muted">
    <%= @article.created_at %>
  </div>
</div>

<div class="card m-2">
  <div class="card-header">
    Comments
  </div>
  <div class="card-body">
    <%= render @article.comments %>
  </div>
</div>


<div class="card m-2">
  <h5 class="card-header">Add a comment</h5>
  <div class="card-body">
    <%= render 'comments/form' %>
  </div>
  
</div>


 
<%= link_to 'Back', articles_path, class:"btn btn-outline-dark btn-lg mb-5 mt-2 ml-1"%>